@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url('https://fonts.googleapis.com/css?family=Galada');

/************** SASS VARS ****************/

//FONT SETS
$tempFont:'Raleway', sans-serif;
$quoteScript:'Galada', cursive;

// COLOR PALLET
$blue1: #2DFBF6;
$blue2: #04D7D2;
$blue3: #167D7B;

/************** NORMALIZE ****************/

* {
    margin: 0;
    padding: 0;
}

ul, li {
    font-family: $tempFont;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}
p {
    font-size: 50px;
}

/************** FLEXBOX P&C RULES **************/

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

/************** FULL PAGE RULES ****************/

body {
    height: 100vh;
    width: 100vw;
    
    background-image: url(../resource/char-night.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
//    border-bottom: 5px solid purple;
}

.fullWrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.5);

//    border-bottom: 5px solid cyan;
}

/************** HEADER RULES ****************/

nav {
    background-color: $blue3;
    padding-left: 2%;
    // No Height Specific Height Rule Creating Bottom Edge Bleed Issue on viewWrapper - Fringe Issue
}

nav:hover {
    background-color: $blue2;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 15px;
    
//    border: 1px solid blue;
}

/************ CONTENT VIEW ************/

.viewWrapper {
    width: 100%;
    height: 90%;
}

.contentWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
//    border: 1px solid red;
}

.title {
    display: inherit;
    justify-content: center;
    align-items: center;
    font-family: $tempFont;
    color: white;
    height: 20%;
    
//    border: 1px solid green;  
}

.frameTheme {
    background-color: rgba(255,255,255,.5);
    border: 1% solid $blue3;
    color: $blue3;  
}

.frameTheme:hover {
    background-color: #cccccc;
    //border: 15px solid $blue2;
}

/************ HOME VIEW ************/

.quoteWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $quoteScript;
    
    border: 15px solid $blue3;
}
.quote {
    display: flex;
    margin: 2%;
}

/************ WEATHER VIEW ************/
.forecast {
    display: flex;
    height: 80%;
    overflow-x: scroll;
    overflow-y: hidden;   
}
.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    margin: 10px;
    width: 500px;
    height: 90%;
    
//    border: 2px solid purple;
    
}
.blockBottom {
    background-color: $blue3;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.blockBottom > p {
    margin: 10px;
}
/************ NEWS VIEW ************/

.news {
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.pubLogo {
    width: 70%;
}