@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url('https://fonts.googleapis.com/css?family=Galada');

/************** SASS VARS ****************/

//FONT SETS
$tempFont:'Raleway', sans-serif;
$quoteScript:'Galada', cursive;

// COLOR PALLET
$blue1: #2DFBF6;
$blue2: #04D7D2;
$blue3: #167D7B;

/************** NORMALIZE ****************/

* {
    margin: 0;
    padding: 0;
}

ul {
//    overflow: scroll;
//    padding: 0% 5% 0% 5%;
}

ul, li {
    font-family: $tempFont;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}
p {
    font-size: 50px;
}

/************** FLEXBOX P&C RULES **************/

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

/************** FULL PAGE RULES ****************/

body {
    height: 100vh;
    width: 100vw;
    
    background-image: url(../resource/char-night.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
//    border-bottom: 5px solid purple;
}

.fullWrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.5);

//    border-bottom: 5px solid cyan;
}

/************** HEADER RULES ****************/

.tab {
    background-color: $blue3;
    width: 100%;
    padding-left: 2%;
}

.tab:hover {
    background-color: $blue2;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 15px;
    
//    border: 1px solid blue;
}

/************ CONTENT VIEW ************/

.viewWrapper {
    width: 100%;
    height: 90%;
}

.centerBlock {
    margin: 5% 10%;
    //border: 1px solid red;
}

.title {
    font-family: $tempFont;
    text-align: center;
    color: white;
    margin: 3%;
}

.item {
    background-color: lightskyblue;
    border: 4px solid darkgray;
    margin: 20px;
}

/************ HOME VIEW ************/

.quoteWrapper {
    background-color: rgba(255,255,255,.5);
    border: 15px solid $blue3;
    font-family: $quoteScript;
    text-align: center;
    color: $blue3;
    padding: 5%;
    //margin: 2%;
}
.quoteWrapper:hover {
    background-color: #cccccc;
    //border: 15px solid $blue2;
}
.quote {
    margin: 2%;
}

/************ WEATHER VIEW ************/
.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border: 1px solid red;
}
.item {
    background-color: rgba(255,255,255,.5);
    border: 15px solid $blue3;
    text-align: center;
    color: $blue3;
    //margin: 20px;
    width: 15%;
    height: 60%;
    
}
.item:hover {
    background-color: #cccccc;
    //border: 15px solid $blue2;
}
/************ NEWS VIEW ************/

.pubLogo {
    height: 70px;
}