<!--- NOTES FOR EDITING:
--------------------------------------------------

1) Please DON"T restructure HTML w/o some sort of conversation - particularly towards semantics
**** ADDITIONS GOOD

2) IDs / Classes can be changed as needed

3) Personal preferance to assign classes for CSS work only.

4) Hold IDs for things requiring Jscript actions only
when possible.


PLEASE ADDRESS USE OF IDs on NEXTROUND OF CSS
------------------------------------------------->


<h3> BOOKMARKS COMING </h3>

<ul>
    <!--- Applied Filters for Search and Article Sorting Newest to Oldest -->
    <li ng-repeat="article in news | orderBy:'-published' | filter: pancake">
        
        <a href="{{ article.link }}"> <img id="globe" ng-src="../resource/globe.png"/> </a>


        <section id="stories">

            <p id="title"><a href="{{ article.link }}"> {{ article.title }} </a></p>

            
            <img id="delete2" src="../resource/delete copy.png" ng-click="clickSendID( article.id )">
            
            <!-- Applied Custom Filter from filters.js -->
            <p id="published">Published {{ article.published | fromNow }}...</p>

        </section> 
    </li>
</ul>
