<!--- NOTES FOR EDITING:
--------------------------------------------------

1) Please DON"T restructure HTML w/o some sort of conversation - particularly towards semantics
**** ADDITIONS SEEM UNNECESSARY at this point.

2) IDs / Classes can be changed as needed

3) Personal preferance to assign classes for CSS work only.

4) Hold IDs for things requiring Jscript actions only
when possible.


PLEASE ADDRESS USE OF IDs on NEXTROUND OF CSS
------------------------------------------------->


<!-- DOES INPUT NEED LABEL OR PLACEHOLDER??  -->
<!--input id="search" type="text" ng-model="pancake"-->

<div class="column">
    <h2> 5 Day Forecast </h2>
    <ul class="forecast">
        <li class="daily" ng-repeat="daily in weather">
            <img ng-src="{{ weather.link }}">
            <p class="hi"> HIGH: <h3>{{ daily.temp.max }}</h3></p>
            <p class="lo"> LOW: <h3>{{ daily.temp.min}}</h3></p>
        </li>
    </ul>
</div>


<div class="row">
    <div class="pNews fifty">
        <ul>
            <h2> Recent News </h2>
        <!--- Applied Filters for Search and Article Sorting Newest to Oldest -->
            <li class="article" ng-repeat="article in news | orderBy:'-published' | filter: pancake">

                <img class="pubLogo" ng-src="{{ article.logo }}">

                <a href="{{ article.link }}"> <img id="globe" ng-src="../resource/globe.png"/> </a>

                <img id="book" src="../resource/bookmark.png" ng-click="clickSendID( article.id )">

                <section id="stories">

                    <p id="title"><a href="{{ article.link }}"> {{ article.title }} </a></p>
            
                    <!-- Applied Custom Filter from filters.js -->
                    <p id="published">Published {{ article.published | fromNow }} ... </p>
            
                    <!-- ul for Interests that Match and have been applied as a new property of the Article -->

                    <ul class="viewInts">
                        <li class ="int" ng-repeat="int in article.interests track by $index">
                            <p> #{{ int }} </p>
                        </li>
                    </ul>
                </section>
            </li>   
        </ul>
    </div> 
    <div class="pTodo fifty">
        <ul>
            <h2> Notes and Reminders </h2>
            <li>add input field</li>
            <li>add checkboxes</li>
            <li>write more todos</li>
        </ul>
    </div>
</div>

