<!--- NOTES FOR EDITING:
--------------------------------------------------

1) Please DON"T restructure HTML w/o some sort of conversation - particularly towards semantics
**** ADDITIONS SEEM UNNECESSARY at this point.

2) IDs / Classes can be changed as needed

3) Personal preferance to assign classes for CSS work only.

4) Hold IDs for things requiring Jscript actions only
when possible.


PLEASE ADDRESS USE OF IDs on NEXTROUND OF CSS
------------------------------------------------->


<!-- DOES INPUT NEED LABEL OR PLACEHOLDER??  -->
<!--input id="search" type="text" ng-model="pancake"-->
<nav class="tab flexRow">
    <img class="icon" src="../resource/weather.png" ng-click="classAttach(dataGroups[0])"/>

    <img class="icon" src="../resource/news.png" ng-click="classAttach(dataGroups[1])"/>
    
    <img class="icon" src="../resource/bookmark.png" ng-click="classAttach(dataGroups[3])"/>

    <img class="icon" src="../resource/todo.png" ng-click="classAttach(dataGroups[4])"/>
</nav>

<div class="contentWrapper">
    <section class="content" id="forecast">
        <div class="subHead" ng-click="classRemove(dataGroups[0])">
            <img class="icon" src="../resource/arrow-up.png"/>
            <h2> 5 Day Forecast </h2>
        </div>
        <ul class="forecast">
            <li class="item" ng-repeat="daily in weather">
                <img ng-src="{{ weather.link }}">
                <p class="hi"> HIGH: <h3>{{ daily.temp.max }}</h3></p>
                <p class="lo"> LOW: <h3>{{ daily.temp.min}}</h3></p>
            </li>
        </ul>
    </section>

    <section class="content" id="news">
        <div class="subHead" ng-click="classRemove(dataGroups[1])">
            <img class="icon" src="../resource/arrow-up.png"/>
            <h2> Recent News </h2>
        </div>
        <ul>
            <!--- Applied Filters for Search and Article Sorting Newest to Oldest -->
            <li class="item" ng-repeat="article in news | orderBy:'-published' | filter: pancake">

                <img class="pubLogo" ng-src="{{ article.logo }}">

                <a class="noTarg" href="{{ article.link }}"><img class="icon" ng-src="../resource/globe.png"/> </a>

                <img class="icon" src="../resource/bookmark.png" ng-click="clickSendID( article.id )">

                <div class="stories">

                    <p class="title"><a href="{{ article.link }}"> {{ article.title }} </a></p>

                    <!-- Applied Custom Filter from filters.js -->
                    <p class="published">Published {{ article.published | fromNow }} ... </p>

                    <!-- ul for Interests that Match and have been applied as a new property of the Article -->

                    <ul class="viewInts">
                        <li class ="int" ng-repeat="int in article.interests track by $index">
                            <p> #{{ int }} </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>

    <section class="content" id="todo">
        <div class="subHead" ng-click="classRemove(dataGroups[2])">
            <img class="icon" src="../resource/arrow-up.png"/>
            <h2>Notes and Reminders</h2>
        </div> 
        <ul>
            <li>add input field</li>
            <li>add checkboxes</li>
            <li>write more todos</li>
        </ul>
        <p>IDK WHAT THIS IS BUT TEST</p>
    </section>
</div>