<div class="contentWrapper flexColumn">
    <h1 class="title"> 7 Day Forecast </h1>
    <ul class="forecast">
        <li class="item" ng-repeat="daily in weather">
            <img ng-src="http://openweathermap.org/img/w/{{ daily.weather[0].icon}}.png" class="icon">
            <p>{{ daily.dt | fromNow }}</p>
            <p class="hi"> HIGH: <h3>{{ daily.temp.max }}</h3></p>
            <p class="lo"> LOW: <h3>{{ daily.temp.min}}</h3></p>
            <p> {{ daily.weather[0].icon }} </p>
        </li>
    </ul>
</div>